<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

     <title>Mangesh Gupte Resume</title>

     <style type="text/css">
        { margin: 0; padding: 0; }
        body { font-size: 16px; line-height: 24px; background: #777; color: rgb(105, 93, 70); }
        .clear { clear: both; }
        #page-wrap { width: 800px; margin: -10px auto 160px; padding: 50px; padding-right: 100px; background:#ddd;
        border-radius: 10px; }
        #pic { float: right; margin: -30px 0 0 0; -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";}
        h1 { margin: 0 0 16px 0; padding: 0 0 16px 0; font-size: 42px; font-weight: bold; letter-spacing: -2px; border-bottom: 1px solid #999; }
        h2 { font-size: 20px; margin: 0 0 6px 0; position: relative;
        color: rgb(0, 133, 117); }
        span { bottom: 0; right: 0; font-style: italic; font-family: Georgia,
        Serif; font-size: 16px; color: rgb(106, 156, 147); font-weight: normal;  }
        p { margin: 0 0 16px 0; }
        a { color: rgb(106, 156, 147); text-decoration: none; border-bottom: 1px dotted; }
        a:hover { border-bottom-style: solid; color: rgb(0, 133, 117); }
        ul { margin: 0 0 32px 17px; }
        #objective { width: 500px; float: left; }
        #objective p { font-family: Georgia, Serif; font-style: italic; }
        dt { font-style: italic; font-weight: bold; font-size: 18px; text-align: right; padding: 0 26px 0 0; width: 110px; float: left; height: 100px; border-right: 1px solid #999 ;  color: rgb(255, 94, 14); }
        dd { width: 640px; float: right;}
        dd.clear { float: none; margin: 0; height: 15px; }
        img-flip { }
     </style>
</head>

<body>
    <div id="page-wrap">
    
      <img src="images/mangesh.jpg" alt="Photo" id="pic" />
    
        <div id="contact-info" class="vcard">
        
            <!-- Microformats! -->
        
            <h1 class="fn">Mangesh Gupte</h1>
        
        </div>

        <div id="objective">
            <p>
              I am a Software Engineer currently working at Houzz. I am a part of the Research Team
              where I
              work on problems like Structured Data Extraction, CTR prediction towards improving
              topline company metrics. Before this, I worked in the Search
              Team at Google. My Research Interests are Algorithms, Game Theory and
              Mechanism Design, Social Networks and Machine Learning and I like to apply techniques
              from these areas to practical problems.
            </p>
        </div>
        
        <div class="clear"></div>
        
        <dl>
          <dd class="clear"></dd>
          <dt>Publications</dt>
          <dd>
            <h2> News Posting by Strategic Users in a Social Network </h2>
            <span> Workshop on Internet and Network Economics <br/>
            Mangesh Gupte, M.T.  Hajiaghayi, Lu Han, Liviu Iftode, Pravin Shankar, Raluca
            Ursu. <br/>
             Presented at <a href="
http://www.dis.uniroma1.it/wine09/index.php?option=com_content&view=article&id=56&Itemid=68"> WINE
                '09</a> in Rome, Italy.</span>
            <p>
We study the spread of news in a Social Network when the users are strategic and show that news propagation follows a threshold phenomenon, hence, high quality information provably spreads throughout the network while low quality news spreads to very few nodes in the network. We simulate these strategies on a sample of the Twitter social graph to confirm the results on real networks.
            </p>

            <h2> Universally Optimal Privacy Mechanisms for Minimax Agents </h2>
            <span> Symposium on Principles of Database Systems <br/>
              Mangesh Gupte, Mukund Sundararajan <br/>
              Presented at <a href="http://www.sigmod2010.org/program_pods.shtml#pods4">
              PODS '10</a> in Indianapolis, IN </span>
            <p>
We design
              a differentially private mechanism to release the result of any fixed count query,
              such that it is simultaneously optimal for all minimax information
              consumers. Additionally, we show how to release query results at multiple levels of
              privacy in a collusion-resistant manner.
            </p>

            <h2> Finding hierarchy in directed online social networks</h2>
            <span> Conference on World Wide Web <br/>
            Mangesh Gupte, Pravin Shankar, Jing Li, S. Muthukrishnan, Liviu Iftode
            <br/>
Presented at <a hrf="http://wwwconference.org/www2011/accepted_papers.html"> WWW '11</a> in
            Hyderabad, India.
             </span>
            <p>
We study social hierarchy and social stratification using online social networks and define a new
measure of hierarchy in directed social networks. We give a polynomial time algorithm to compute
this measure. We apply it to Twitter, Flickr, delicious and YouTube and show how hierarchy emerges
as the network grows. The measure gives us an alternate way to use links in directed social networks
to rank nodes in the network. </p>

            <h2> Measuring Tie Strength in Implicit Social Networks </h2>
            <span> ACM Conference on Web Science (WebSci '12) <br/>
              Mangesh Gupte, Tina Eliassi-Rad
            </span>
            <p>
We address the problem of measuring connectedness or tie strength between each pair of persons given the set of events they attend. Starting from a list of axioms, which a measure of tie strength must satisfy, we characterize functions that satisfy all the axioms. 
A measure of tie strength induces a ranking on the edges of the social network. We show that for applications where the ranking, and not the absolute value of the tie strength, is the important thing about the measure, the axioms are equivalent to a natural partial order. In our experiments, we demonstrate the efficacy of our approach; show the completeness and soundness of our axioms, and present Kendall Tau Rank Correlation between various tie-strength measures.
            </p>

            <h2> Analysis of Cardinal Auctions </h2>
            <span> Algorithmica, September ’13 <br/>
              Mangesh Gupte, Darja Krushevskaja, S Muthukrishnan </span>
            <p>
We study cardinal auctions for selling multiple copies of a good, in which bidders
specify not only their bid or how much they are ready to pay for the good, but also a cardinality constraint on the number of copies that will be sold via the auction. We perform first known Price of Anarchy type analyses with detailed comparison of the classical Vickrey-Clarke-Groves (VCG) auction and one based on minimum pay property (MPP) which is similar to Generalized Second Price auction commonly used in sponsored search.
            </p>


            <h2> Algorithmic applications to social networks, secretary problems and differential
              privacy </h2>
            <ul>
              <li> Phd Thesis : Mangesh Gupte
              <li>Rutgers University-Graduate School-New Brunswick, 2011
              </ul>


            <h2> The Turnpike Reconstruction Problem </h2>
            <ul>
              <li> Masters Thesis : Mangesh Gupte
              <li>Indian Institute of Science, Bangalore, India
            </ul>
              </dd>

          <dd class="clear"></dd>
            <dt>Experience</dt>
            <dd>
              <h2>Houzz </h2>
              <span>Search and Personalization Engineer <br/>
                Palo Alto, CA - 2014-current</span>
              <ul>
                <li> Define key success metrics that track user engagement and user base growth</li>
                <li> Build instrumentation systems to measure the user engagement key success
                metrics </li>
                <li> Play a central role in designing and implementing recommendation and
                personalization systems that drive the growth of Houzz’s website and mobile apps </li>
                <li> Analyze log data to find new opportunities for growth </li>
                <li> Design and run A/B tests to experiment new ideas for growth </li>
                <li> Collaborate with other engineers and designers to bring growth ideas to reality </li>
               </ul>

                <h2>Google </h2>
                <span>Senior Software Engineer <br/>
                  Mountain View, CA - 2011-2014
                </span>
                <p>
                  I work in the search features and search quality team at Google. Wrote numerous map-reduce pipelines to analyze and understand large data sets, generate insights from these and deploy algorithms that increase key metrics. Projects that I contributedxs to:
                  <ul>
                    <li> Site Information: I was in charge of generating the data and ensuring high
                    data quality for the project </li>
                    <li> Authorship: Increased the coverage (number of authors and results) and
                    quality of authors shown </li>
                    <li> Autocomplete: Improved coverage (number of prefixes that have suggestions)
                    and ranking </li>
                    <li> Search: Improve quality of search results, better triggering by
                    understanding the query better </li>
                  </ul>
                </p>

                <h2>Rutgers University </h2>
                <span> Teaching Assistant + Graduate Assistant <br/>
                  Piscataway, NJ - 2005-10
                </span>
                  <p>
                    <ul>
                      <li> Helped with the Combinatorial Optimization, Discrete Structures, Topics
                      in Game Theory,  Programming Methodology courses at Rutgers University </li>
                      <li> Research on Online Algorithms, Social Networks and Auction Design </li>
                      <li> Solve standard algorithmic problems with the added assumption that inputs
                      come from agents who are self-interested (e.g agents on the internet). Design
                      auctions, pricing models etc. that support this model </li>
                    </ul>
                      </p>

                <h2> Google </h2>
                <span> Software Engineering Intern <br/>
                  Mountain View, CA +  New York, NY - Summer – 2007 + 2010
                </span>
              <p>
Wrote map-reduce algorithms to predicting which news would become popular using the Twitter data feed. Analyzed large social network graphs (> 10 million nodes, > 1 billion edges) to discover trends.
                </p>
                      
                <h2>Codito Technologies</h2>
                <span> Software Engineer <br/>
                  Pune, India - 2002–03 </span>
                  <p>
                     Worked with the Networking Team and lead the IPSec team for implementing the protocol stack on a new chip multiprocessor
                </p>

                <h2>Vishwakarma Institute of Technology</h2>
                <span>Senior Project <br/>
                  Pune, India - 2001-02
                </span>
              <p>
                Geostretcher : A Visual Editor for Geometry.
                A constraint based editor for geometry, implemented from scratch in VC++, with ~30k LOC, with good object oriented design and also a simple prototype.
              </p>
             </dd>


            <dd class="clear"></dd>

            <dt>Education</dt>
            <dd>
                <h2>Rutgers University, Piscataway, NJ</h2>
                <p><strong>Ph.D. </strong> Computer Science<br />
            </dd>
            
            <dd>
                <h2>Indian Institute of Science, Bangalore</h2>
                <p><strong>M. E. </strong> Computer Science and Automation<br />
            </dd>
            
            <dd>
                <h2>Pune University </h2>
                <p><strong>Vishwakarma Institute of Technology</strong> <br />
                   <strong>B. E. </strong> Computer Engineering</p>
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Skills</dt>
            <dd>
                <h2>Languages</h2>
                <p>C, C++, Java, Python, PHP, SQL</p>
                
                <h2>Tools</h2>
                <p>git, django, MySql, Hadoop / Map Reduce, Impala / Hive, Spark</p>
            </dd>

            <dd class="clear"></dd>
            
            <dt>Scholastic Achivements / Awards</dt>
            <dd> <strong> 2007 </strong> DIMACS Graduate Student Award. </dd>
            <dd> <strong> 2005 </strong> Medal of honor from IISc and the Computer Society of India for securing the
              highest CGPA in Computer Science Department at IISc </dd>
            <dd> <strong> 2003 </strong> All India Rank 4 out of a total of 44000 people in GATE, the entrance
              examination for IITs and IISc, scoring 99.99 percentile. </dd>
            <dd> <strong> 1997 </strong>	Selected in the top 30 in India for the International Mathematics Olympiad
              Camp.
            </dd>
              
            <dd class="clear"></dd>
            
        </dl>
        
        <div class="clear"></div>
    
    </div>

</body>

</html>
